#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/rgbled_widget.dtsi>

#include "unicode_helpers.h"
#include "unicode_chars.dtsi"

&mmv { time-to-max-speed-ms = <100>; };

&msc { time-to-max-speed-ms = <100>; };

&caps_word { continue-list = <UNDERSCORE DOT BACKSPACE DELETE>; };

/ {
    behaviors {
        tp_ht: tap_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Tap-preferred Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
        };

        tl_ht: thumb_layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Thumb Layer Hold/Tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
        };

        lhm_ht: left_homerow_mod_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Left Homerow Mod Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        rhm_ht: right_homerow_mod_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Right Homerow Mod Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
        };

        ts_ht: thumb_shift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Thumb Shift Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
        };

        mml_td: mouse_move_left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Left Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(-330)>, <&mmv MOVE_X(-1000)>;
        };

        mmr_td: mouse_move_right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Right Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(330)>, <&mmv MOVE_X(1000)>;
        };

        mmu_td: mouse_move_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Up Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(-330)>, <&mmv MOVE_Y(-1000)>;
        };

        mmd_td: mouse_move_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Down Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(330)>, <&mmv MOVE_Y(1000)>;
        };

        msl_td: mouse_scroll_left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse scroll left tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(-10)>, <&msc MOVE_X(-30)>;
        };

        msr_td: mouse_scroll_right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Right Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(10)>, <&msc MOVE_X(30)>;
        };

        msd_td: mouse_scroll_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Down Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(-10)>, <&msc MOVE_Y(-30)>;
        };

        msu_td: mouse_scroll_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Up Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(10)>, <&msc MOVE_Y(30)>;
        };

        cp_td: caps_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Caps Tap Dance";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Colemak DH";
            bindings = <
&kp Q  &kp W            &kp F            &kp P           &kp B               &kp J              &kp L           &kp U            &kp Y            &kp SQT
&kp A  &lhm_ht LCTRL R  &lhm_ht LSHFT S  &lhm_ht LGUI T  &lhm_ht LALT G      &rhm_ht RALT M     &rhm_ht RGUI N  &rhm_ht RSHFT E  &rhm_ht RCTRL I  &kp O
&kp Z  &kp X            &kp C            &kp D           &kp V               &kp K              &kp H           &kp COMMA        &kp DOT          &kp FSLH
                        &tl_ht 3 TAB     &tl_ht 1 SPACE  &ts_ht LSHFT ESC    &ts_ht RSHFT BSPC  &tl_ht 2 RET    &tl_ht 4 DEL
            >;
        };

        num-and-sym {
            display-name = "Numbers and their Symbols";
            bindings = <
&kp EXCL   &kp AT              &kp HASH            &kp DLLR           &kp PRCNT            &kp KP_DIVIDE    &kp N7           &kp N8            &kp N9            &kp KP_MINUS
&kp CARET  &lhm_ht LCTRL AMPS  &lhm_ht LSHFT STAR  &lhm_ht LGUI LPAR  &lhm_ht LALT RPAR    &rhm_ht RALT N0  &rhm_ht RGUI N1  &rhm_ht RSHFT N2  &rhm_ht RCTRL N3  &tp_ht KP_ENTER DOT
&none      &none               &none               &eszett            &euro                &kp KP_MULTIPLY  &kp N4           &kp N5            &kp N6            &kp KP_PLUS
                               &none               &trans             &none                &none            &none            &kp KP_NLCK
            >;
        };

        navi-and-sym {
            display-name = "Navigation and More Symbols";
            bindings = <
&kp PIPE   &kp PLUS             &kp UNDER            &kp LBRC           &kp RBRC             &kp HOME           &kp PG_DN          &kp PG_UP               &kp END              &kp INS
&kp BSLH   &lhm_ht LCTRL EQUAL  &lhm_ht LSHFT MINUS  &lhm_ht LGUI LBKT  &lhm_ht LALT RBKT    &rhm_ht RALT LEFT  &rhm_ht RGUI DOWN  &rhm_ht RSHFT UP_ARROW  &rhm_ht RCTRL RIGHT  &kp PSCRN
&kp TILDE  &kp GRAVE            &kp COLON            &kp SEMI           &none                &kp RS(RA(TAB))    &kp RS(RC(TAB))    &kp RC(TAB)             &kp RA(TAB)          &none
                                &cp_td               &none              &none                &none              &trans             &none
            >;
        };

        media-and-fun {
            display-name = "Media and Function Keys";
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &kp C_SLEEP      &kp C_MUTE         &kp C_VOL_DN     &kp C_VOL_UP      &kp RA(RG(K))      &kp C_AL_CALC
&kp F5  &kp F6   &kp F7   &kp F8   &kp C_AL_LOCK    &kp RALT           &kp RGUI         &kp RSHFT         &kp RCTRL          &kp RS(RG(S))
&kp F9  &kp F10  &kp F11  &kp F12  &none            &kp RS(RG(PG_DN))  &kp RS(RG(END))  &kp RS(RG(HOME))  &kp RS(RG(PG_UP))  &none
                 &trans   &none    &none            &none              &none            &none
            >;
        };

        mouse-and-bt {
            display-name = "Mouse and Bluetooth";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &ind_con      &bt BT_CLR      &msl_td   &msd_td   &msu_td   &msr_td   &none
&none         &none         &none         &ind_bat      &none           &mml_td   &mmd_td   &mmu_td   &mmr_td   &kp K_CMENU
&none         &none         &none         &out OUT_BLE  &out OUT_USB    &mkp MB4  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB5
                            &none         &none         &none           &none     &none     &trans
            >;
        };
    };
};
