#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mmv { time-to-max-speed-ms = <100>; };

&msc { time-to-max-speed-ms = <100>; };

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE DOT>; };

/ {
    behaviors {
        tp_ht: tap_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Tap-preferred Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
        };

        tl_ht: thumb_layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Thumb Layer Hold/Tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
        };

        lhm_ht: left_homerow_mod_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Left Homerow Mod Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        rhm_ht: right_homerow_mod_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Right Homerow Mod Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
        };

        ts_ht: thumb_shift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Thumb Shift Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
        };

        mml_td: mouse_move_left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Left Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(-330)>, <&mmv MOVE_X(-1000)>;
        };

        mmr_td: mouse_move_right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Right Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(330)>, <&mmv MOVE_X(1000)>;
        };

        mmu_td: mouse_move_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Up Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(-330)>, <&mmv MOVE_Y(-1000)>;
        };

        mmd_td: mouse_move_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Down Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(330)>, <&mmv MOVE_Y(1000)>;
        };

        msl_td: mouse_scroll_left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse scroll left tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(-10)>, <&msc MOVE_X(-30)>;
        };

        msr_td: mouse_scroll_right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Right Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(10)>, <&msc MOVE_X(30)>;
        };

        msd_td: mouse_scroll_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Down Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(-10)>, <&msc MOVE_Y(-30)>;
        };

        msu_td: mouse_scroll_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Up Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(10)>, <&msc MOVE_Y(30)>;
        };

        cp_td: caps_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Caps Tap Dance";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_usb_out {
            bindings = <&out OUT_USB>;
            key-positions = <30 32>;
            layers = <0>;
        };

        combo_ble_out {
            bindings = <&out OUT_BLE>;
            key-positions = <30 32 31>;
            layers = <0>;
        };

        combo_bt_nxt {
            bindings = <&bt BT_NXT>;
            key-positions = <35 33>;
            layers = <0>;
        };

        combo_bt_clr {
            bindings = <&bt BT_CLR>;
            key-positions = <33 34 35>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Colemak DH";
            bindings = <
&kp Q  &kp W            &kp F            &kp P           &kp B               &kp J              &kp L           &kp U            &kp Y            &kp SEMI
&kp A  &lhm_ht LCTRL R  &lhm_ht LSHFT S  &lhm_ht LGUI T  &kp G               &kp M              &rhm_ht RGUI N  &rhm_ht RSHFT E  &rhm_ht RCTRL I  &kp O
&kp Z  &kp X            &kp C            &lhm_ht LALT D  &kp V               &kp K              &rhm_ht RALT H  &kp COMMA        &kp DOT          &kp FSLH
                        &kp TAB          &tl_ht 1 SPACE  &ts_ht LSHFT ESC    &ts_ht RSHFT BSPC  &tl_ht 2 RET    &tl_ht 3 DEL
            >;
        };

        num-and-sym {
            display-name = "Numbers and their Symbols";
            bindings = <
&kp EXCL   &kp AT              &kp HASH            &kp DLLR                    &kp PRCNT            &kp KP_DIVIDE    &kp N7           &kp N8            &kp N9            &kp KP_MINUS
&kp CARET  &lhm_ht LCTRL AMPS  &lhm_ht LSHFT STAR  &lhm_ht LGUI LPAR           &kp RPAR             &kp N0           &rhm_ht RGUI N1  &rhm_ht RSHFT N2  &rhm_ht RCTRL N3  &tp_ht KP_ENTER DOT
&kp LG(L)  &kp LS(LG(END))     &kp LS(LG(HOME))    &lhm_ht LALT LS(LG(PG_DN))  &kp LS(LG(PG_UP))    &kp KP_MULTIPLY  &rhm_ht RALT N4  &kp N5            &kp N6            &kp KP_PLUS
                               &none               &trans                      &none                &none            &none            &none
            >;
        };

        navi-and-sym {
            display-name = "Navigation and More Symbols";
            bindings = <
&kp PIPE  &kp PLUS             &kp UNDER            &kp LBRC           &kp RBRC    &kp HOME    &kp PG_DN              &kp PG_UP               &kp END              &kp INS
&kp BSLH  &lhm_ht LCTRL EQUAL  &lhm_ht LSHFT MINUS  &lhm_ht LGUI LBKT  &kp RBKT    &kp LEFT    &rhm_ht RGUI DOWN      &rhm_ht RSHFT UP_ARROW  &rhm_ht RCTRL RIGHT  &kp PSCRN
&none     &kp GRAVE            &kp TILDE            &lhm_ht LALT SQT   &kp DQT     &kp C_MUTE  &rhm_ht RALT C_VOL_DN  &kp C_VOL_UP            &kp LA(LG(K))        &kp C_AL_CALC
                               &cp_td               &none              &none       &none       &trans                 &none
            >;
        };

        mouse-and-fn {
            display-name = "Mouse and Fn Keys";
            bindings = <
&kp F1  &kp F2            &kp F3            &kp F4            &none    &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5
&kp F5  &lhm_ht LCTRL F6  &lhm_ht LSHFT F7  &lhm_ht LGUI F8   &none    &mml_td   &mmd_td    &mmu_td    &mmr_td    &none
&kp F9  &kp F10           &kp F11           &lhm_ht LALT F12  &none    &msl_td   &msd_td    &msu_td    &msr_td    &none
                          &none             &none             &none    &none     &none      &trans
            >;
        };
    };
};
