#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include <behaviors/rgbled_widget.dtsi>

#include "unicode_helpers.h"
#include "unicode_chars.dtsi"

#define TD_TAPPING_TERM_MS 200
#define HT_TAPPING_TERM_MS 250
#define QUICK_TAP_MS 200
#define REQUIRE_PRIOR_IDLE_MS 150

#define CURSOR_VEL_SLOW 330
#define CURSOR_VEL_FAST 1000
#define SCRL_VEL_SLOW 10
#define SCRL_VEL_FAST 30

&caps_word { continue-list = <UNDERSCORE DOT BACKSPACE DELETE>; };

&mmv { time-to-max-speed-ms = <100>; };

&msc { time-to-max-speed-ms = <100>; };

/ {
    behaviors {
        ssl: slow_sticky_layer {
            compatible = "zmk,behavior-sticky-key";
            display-name = "Slow Sticky Layer";
            #binding-cells = <1>;
            release-after-ms = <1000>;
            bindings = <&mo>;
        };

        dot_colon: dot_colon_morph {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Dot/Colon Morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma_semi: comma_semicolon_morph {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Comma/Semicolon Morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kk_ht: key_key_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Balanced Key/Key Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HT_TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
        };

        lhm_ht: left_homerow_mod_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Left Homerow Mod Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HT_TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE_MS>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        rhm_ht: right_homerow_mod_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Right Homerow Mod Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HT_TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE_MS>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
        };

        kl_ht: key_layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Balanced Key/Layer Hold/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&to>;

            flavor = "balanced";
            tapping-term-ms = <HT_TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
        };

        lk_ht: layer_key_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Balanced Layer/Key Hold/Tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HT_TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
        };

        slk_ht: sticky_layer_key_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Balanced Sticky Layer/Key Hold/Tap";
            #binding-cells = <2>;
            bindings = <&ssl>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HT_TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
        };

        cp_td: caps_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Caps Tap Dance";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        mml_td: mouse_move_left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Left Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(-CURSOR_VEL_SLOW)>, <&mmv MOVE_X(-CURSOR_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        mmr_td: mouse_move_right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Right Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(CURSOR_VEL_SLOW)>, <&mmv MOVE_X(CURSOR_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        mmu_td: mouse_move_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Up Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(-CURSOR_VEL_SLOW)>, <&mmv MOVE_Y(-CURSOR_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        mmd_td: mouse_move_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Move Down Tap Dance";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(CURSOR_VEL_SLOW)>, <&mmv MOVE_Y(CURSOR_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        msl_td: mouse_scroll_left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse scroll left tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(-SCRL_VEL_SLOW)>, <&msc MOVE_X(-SCRL_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        msr_td: mouse_scroll_right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Right Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(SCRL_VEL_SLOW)>, <&msc MOVE_X(SCRL_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        msd_td: mouse_scroll_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Down Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(-SCRL_VEL_SLOW)>, <&msc MOVE_Y(-SCRL_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };

        msu_td: mouse_scroll_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Mouse Scroll Up Tap Dance";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(SCRL_VEL_SLOW)>, <&msc MOVE_Y(SCRL_VEL_FAST)>;
            tapping-term-ms = <TD_TAPPING_TERM_MS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_conf {
            bindings = <&sl 8>;
            key-positions = <11 12 13>;
            layers = <0>;
        };

        combo_mouse {
            bindings = <&to 9>;
            key-positions = <16 17 18>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Colemak DH";
            bindings = <
&kp Q  &kp W           &kp F            &kp P            &kp B               &kp J          &kp L            &kp U            &kp Y           &slk_ht 6 SQT
&kp A  &lhm_ht LALT R  &lhm_ht LSHFT S  &lhm_ht LCTRL T  &kp G               &kp M          &rhm_ht RCTRL N  &rhm_ht RSHFT E  &rhm_ht RALT I  &kp O
&kp Z  &kp X           &kp C            &lhm_ht LGUI D   &kp V               &kp K          &rhm_ht RGUI H   &comma_semi      &dot_colon      &slk_ht 7 FSLH
                       &lk_ht 4 TAB     &lk_ht 1 SPACE   &kk_ht LSHFT ESC    &lk_ht 3 BSPC  &lk_ht 2 RET     &lk_ht 5 DEL
            >;
        };

        sym {
            display-name = "Symbols";
            bindings = <
&none   &kp PIPE           &kp LBRC            &kp RBRC            &kp PLUS     &kp TILDE  &kp LT              &kp GT              &kp UNDER           &none
&kp AT  &lhm_ht LALT BSLH  &lhm_ht LSHFT LBKT  &lhm_ht LCTRL RBKT  &kp EQUAL    &kp GRAVE  &rhm_ht RCTRL LPAR  &rhm_ht RSHFT RPAR  &rhm_ht RALT MINUS  &kp EXCL
&none   &kp PRCNT          &kp STAR            &lhm_ht LGUI HASH   &none        &none      &rhm_ht RGUI CARET  &kp DLLR            &kp AMPS            &none
                           &none               &trans              &none        &none      &cp_td              &none
            >;
        };

        num {
            display-name = "Numbers";
            bindings = <
&none  &none     &none      &none        &none    &kp KP_DIVIDE    &kp N7  &kp N8  &kp N9  &kp KP_MINUS
&none  &kp LALT  &kp LSHFT  &kp LCTRL    &none    &kp N0           &kp N4  &kp N5  &kp N6  &kp DOT
&none  &none     &none      &kp LGUI     &none    &kp KP_MULTIPLY  &kp N1  &kp N2  &kp N3  &kp KP_PLUS
                 &none      &kp KP_NLCK  &none    &none            &trans  &none
            >;
        };

        navi {
            display-name = "Navigation";
            bindings = <
&none  &none     &none      &none      &none    &kp HOME         &kp PG_DN  &kp PG_UP  &kp END      &kp INS
&none  &kp LALT  &kp LSHFT  &kp LCTRL  &none    &kp LEFT         &kp DOWN   &kp UP     &kp RIGHT    &kp PSCRN
&none  &none     &none      &kp LGUI   &none    &kp LC(LS(TAB))  &none      &none      &kp LC(TAB)  &kp K_CMENU
                 &none      &none      &none    &trans           &none      &none
            >;
        };

        fun {
            display-name = "Function Keys";
            bindings = <
&none  &none     &none      &none      &none    &kp F12  &kp F7  &kp F8  &kp F9  &none
&none  &kp LALT  &kp LSHFT  &kp LCTRL  &none    &kp F11  &kp F4  &kp F5  &kp F6  &none
&none  &none     &none      &kp LGUI   &none    &kp F10  &kp F1  &kp F2  &kp F3  &none
                 &trans     &none      &none    &none    &none   &none
            >;
        };

        media {
            display-name = "Media Keys";
            bindings = <
&none  &none  &none  &none     &none    &kp C_PREV  &kp C_PAUSE   &kp C_PLAY    &kp C_NEXT     &kp C_AL_CALC
&none  &none  &none  &ind_bat  &none    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp RG(RA(K))  &kp RG(RS(S))
&none  &none  &none  &ind_con  &none    &none       &kp C_BRI_DN  &kp C_BRI_UP  &none          &kp RG(L)
              &none  &none     &none    &none       &none         &trans
            >;
        };

        es-unicode {
            display-name = "Spanish Unicode Characters";
            bindings = <
&none     &none  &none  &none  &none             &none  &none     &u_acute  &none     &inv_excl
&a_acute  &none  &none  &none  &none             &none  &n_tilde  &e_acute  &i_acute  &o_acute
&none     &none  &none  &none  &none             &none  &none     &none     &none     &inv_qstn
                 &none  &none  &kl_ht LSHFT 0    &none  &none     &none
            >;
        };

        de-unicode {
            display-name = "German Unicode Characters";
            bindings = <
&none  &none  &none    &pi_math  &none             &degree     &none  &ue    &none  &none
&ae    &none  &eszett  &none     &none             &mu_prefix  &none  &none  &none  &oe
&none  &none  &none    &none     &none             &none       &none  &euro  &none  &none
              &none    &none     &kl_ht LSHFT 0    &none       &none  &none
            >;
        };

        conf {
            display-name = "Configuration";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &bt BT_CLR      &none  &none  &none  &none  &none
&none         &none         &none         &none  &out OUT_BLE    &none  &none  &none  &none  &none
&none         &none         &none         &none  &out OUT_USB    &none  &none  &none  &none  &none
                            &none         &none  &to 0           &none  &none  &none
            >;
        };

        mouse {
            display-name = "Mouse";
            bindings = <
&none  &none  &none  &none  &none    &msl_td    &msd_td    &mmu_td    &msu_td  &msr_td
&none  &none  &none  &none  &none    &mkp MB4   &mml_td    &mmd_td    &mmr_td  &mkp MB5
&none  &none  &none  &none  &none    &none      &none      &none      &none    &none
              &none  &none  &to 0    &mkp RCLK  &mkp LCLK  &mkp MCLK
            >;
        };
    };
};
