#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tmt: thumb_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Mod/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
        };

        tlt: thumb_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Layer/Tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
        };

        tcwt: thumb_caps_word_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Caps Word/Tap";
            #binding-cells = <2>;
            bindings = <&caps_word>, <&kp>;

            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
        };

        hmt: homerow_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mod/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
        };

        tst: thumb_shift_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Shift/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp Q        &kp W         &kp F          &kp P         &kp B             &kp J            &kp L        &kp U         &kp Y         &kp SEMI
&hmt LALT A  &hmt LCTRL R  &hmt LSHFT S   &hmt LGUI T   &kp G             &kp M            &hmt RGUI N  &hmt RSHFT E  &hmt RCTRL I  &hmt RALT O
&kp Z        &kp X         &kp C          &kp D         &kp V             &kp K            &kp H        &kp COMMA     &kp DOT       &kp FSLH
                           &tmt CAPS TAB  &tlt 1 SPACE  &tst LSHFT ESC    &tst RSHFT BSPC  &tlt 2 RET   &tcwt 0 DEL
            >;
        };

        lower {
            display-name = "Func & Navi";
            bindings = <
&kp F1        &kp F2         &kp F3         &kp F4        &none    &kp HOME  &kp PG_UP       &kp PG_DN            &kp END           &kp INS
&hmt LALT F5  &hmt LCTRL F6  &hmt LSHFT F7  &hmt LGUI F8  &none    &kp LEFT  &hmt RGUI DOWN  &hmt RSHFT UP_ARROW  &hmt RCTRL RIGHT  &hmt RALT PSCRN
&kp F9        &kp F10        &kp F11        &kp F12       &none    &none     &none           &none                &none             &none
                             &none          &trans        &to 0    &to 1     &trans          &none
            >;
        };

        raise {
            display-name = "Sym & Num";
            bindings = <
&kp EXCL        &kp AT           &kp HASH         &kp DLLR        &kp PRCNT    &kp KP_DIVIDE    &kp KP_N7        &kp KP_N8         &kp KP_N9         &kp KP_MINUS
&hmt LALT LPAR  &hmt LCTRL RPAR  &hmt LSHFT LBKT  &hmt LGUI RBKT  &kp SQT      &kp KP_MULTIPLY  &hmt RGUI KP_N4  &hmt RSHFT KP_N5  &hmt RCTRL KP_N6  &hmt RALT KP_PLUS
&kp GRAVE       &kp CARET        &kp AMPS         &kp BSLH        &kp UNDER    &kp KP_N0        &kp KP_N1        &kp KP_N2         &kp KP_N3         &kp EQUAL
                                 &none            &trans          &to 2        &to 0            &trans           &none
            >;
        };

        adjust {
            display-name = "BT & Media";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none       &kp C_BRI_DN  &kp C_BRI_UP  &none  &none
&none         &none         &none         &none         &none           &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &none  &none
&none         &none         &none         &none         &bt BT_CLR      &none       &none         &none         &none  &none
                            &none         &trans        &none           &none       &trans        &none
            >;
        };
    };
};
