#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        tmt: thumb_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Mod/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
        };

        tlt: thumb_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Layer/Tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
        };

        tcwt: thumb_caps_word_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Caps Word/Tap";
            #binding-cells = <2>;
            bindings = <&pcw>, <&kp>;

            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
        };

        hmt: homerow_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mod/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            require-prior-idle-ms = <150>;
        };

        tst: thumb_shift_tap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Shift/Tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
        };

        pcw: prog_caps_word {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE DOT BACKSPACE DELETE>;
            mods = <(MOD_LSFT)>;
        };

        mmmvl: morph_mmv_left {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph mouse move left";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(-450)>, <&mmv MOVE_X(-900)>;
            mods = <(MOD_LSFT)>;
        };

        mmmvr: morph_mmv_right {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph mouse move right";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_X(450)>, <&mmv MOVE_X(900)>;
            mods = <(MOD_LSFT)>;
        };

        mmmvu: morph_mmv_up {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph mose move up";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(-450)>, <&mmv MOVE_Y(-900)>;
            mods = <(MOD_LSFT)>;
        };

        mmmvd: morph_mmv_down {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph muose move down";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_Y(450)>, <&mmv MOVE_Y(900)>;
            mods = <(MOD_LSFT)>;
        };
		
		mmscl: morph_msc_left {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph mouse scroll left";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(-15)>, <&msc MOVE_X(-30)>;
            mods = <(MOD_LSFT)>;
        };

        mmscr: morph_msc_right {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph mouse scroll right";
            #binding-cells = <0>;
            bindings = <&msc MOVE_X(15)>, <&msc MOVE_X(30)>;
            mods = <(MOD_LSFT)>;
        };

        mmscd: morph_msc_down {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph muose scroll down";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(-15)>, <&msc MOVE_Y(-30)>;
            mods = <(MOD_LSFT)>;
        };

        mmscu: morph_msc_up {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Morph mose scroll up";
            #binding-cells = <0>;
            bindings = <&msc MOVE_Y(15)>, <&msc MOVE_Y(30)>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_usb_out {
            bindings = <&out OUT_USB>;
            key-positions = <30 32>;
            layers = <0>;
        };

        combo_ble_out {
            bindings = <&out OUT_BLE>;
            key-positions = <30 32 31>;
            layers = <0>;
        };

        combo_bt_nxt {
            bindings = <&bt BT_NXT>;
            key-positions = <35 33>;
            layers = <0>;
        };

        combo_bt_clr {
            bindings = <&bt BT_CLR>;
            key-positions = <33 34 35>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp Q  &kp W         &kp F         &kp P         &kp B             &kp J        &kp L        &kp U          &kp Y         &kp SEMI
&kp A  &hmt LCTRL R  &hmt LSHFT S  &hmt LGUI T   &kp G             &kp M        &hmt RGUI N  &hmt RSHFT E   &hmt RCTRL I  &kp O
&kp Z  &kp X         &kp C         &hmt LALT D   &kp V             &kp K        &hmt RALT H  &kp COMMA      &kp DOT       &kp FSLH
                     &tcwt 0 TAB   &tlt 1 SPACE  &tst LSHFT ESC    &tlt 3 BSPC  &tlt 2 RET   &tmt CAPS DEL
            >;
        };

        lower {
            display-name = "Num & Sym";
            bindings = <
&kp EXCL   &kp AT           &kp HASH          &kp DLLR                 &kp PRCNT            &kp KP_DIVIDE    &kp N7        &kp N8         &kp N9         &kp KP_MINUS
&kp CARET  &hmt LCTRL AMPS  &hmt LSHFT STAR   &hmt LGUI LPAR           &kp RPAR             &kp KP_MULTIPLY  &hmt RGUI N4  &hmt RSHFT N5  &hmt RCTRL N6  &kp KP_PLUS
&kp LG(L)  &kp LS(LG(END))  &kp LS(LG(HOME))  &hmt LALT LS(LG(PG_DN))  &kp LS(LG(PG_UP))    &kp N0           &hmt RALT N1  &kp N2         &kp N3         &kp DOT
                            &none             &trans                   &none                &none            &none         &none
            >;
        };

        raise {
            display-name = "Navi & Sym";
            bindings = <
&kp PIPE  &kp UNDER         &kp PLUS          &kp LBRC        &kp RBRC    &kp HOME    &kp PG_DN           &kp PG_UP            &kp END           &kp INS
&kp BSLH  &hmt LCTRL MINUS  &hmt LSHFT EQUAL  &hmt LGUI LBKT  &kp RBKT    &kp LEFT    &hmt RGUI DOWN      &hmt RSHFT UP_ARROW  &hmt RCTRL RIGHT  &kp PSCRN
&none     &kp GRAVE         &kp TILDE         &hmt LALT SQT   &kp DQT     &kp C_MUTE  &hmt RALT C_VOL_DN  &kp C_VOL_UP         &kp LA(LG(K))     &kp C_AL_CALC
                            &none             &none           &none       &none       &trans              &none
            >;
        };

        adjust {
            display-name = "Mouse & Fn";
            bindings = <
&kp F1  &kp F2         &kp F3         &kp F4         &none    &mkp MB5  &mkp LCLK  &mmmvu  &mkp RCLK  &mkp MCLK
&kp F5  &hmt LCTRL F6  &hmt LSHFT F7  &hmt LGUI F8   &none    &mmv MB4  &mmmvl     &mmmvd  &mmmvr     &none
&kp F9  &kp F10        &kp F11        &hmt LALT F12  &none    &mmscl    &mmscd     &mmscu  &mmscr     &none
                       &none          &none          &none    &trans    &none      &none
            >;
        };
    };
};
